@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="time"]::-webkit-calendar-picker-indicator {
    background: url('./assets/user-details/chevron-down.svg')no-repeat;
    background-position: center;
}

input {
    cursor: pointer;
    outline: none;
}

#dropdown::after {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #A6AFBA;
    content: "";
    right: 3px;
    top: -7px;
    transform: rotate(45deg);
    z-index: -1;

}

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    #booking{
        /* width: 100%; */
        position: relative;
    }
    #booking::before {
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: blue;
        content: "";
        bottom: -27px;
    }
}